.main {
  flex: 1;
  background-color: var(--color-background);
}

.main .main-inner {
  padding: 40px 28px;
}

.main .main-inner h2 {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

.main .mobile-menu-btn {
  display: none;
}

.overview-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 34px;
}

.overview-card {
  padding: 16px;
}

.overview-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform .3s ease-in-out;
}

.overview-card h3 {
  color: var(--user-text);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.overview-card p {
  color: var(--link-tex);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.overview-card p span {
  font-size: 10px;
  font-weight: 600;
  margin-left: 4px;
}

.overview-card p span.gain {
  color: var(--green);
}

.overview-card p span.loss {
  color: var(--danger);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 28px;
}

.chart-container {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 40px;
}

.carousel-container {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
}

.carousel {
  height: 100%;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item {
  height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: #fff;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.carousel-container .slide-1 {
  background: url("../assets/images/carousel-images/woman.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-container .slide-2 {
  background: url("../assets/images/carousel-images/man.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-container .slide-3 {
  background: url("../assets/images/carousel-images/surface.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-container .cus_slide {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 16px;
  padding-bottom: 30px;
}

.carousel-container .cus_slide::after {
  content: "";
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carousel-container .cus_slide .slide-text {
  margin-top: auto;
  color: #fff;
}

.carousel-container .cus_slide .slide-text .slide-text-title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.carousel-container .cus_slide .slide-text .slide-text-info {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid var(--color-table-border);
  text-align: left;
}

.status {
  padding: 5px;
  border-radius: 5px;
}

.completed {
  background: var(--color-completed);
  color: white;
}

.in-progress {
  background: var(--color-in-progress);
  color: white;
}
