/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.033);
  overflow-y: auto;
}

.modal .modal-content {
  background-color: #fff;
  margin: 50px auto;
  border-radius: 2px;
  width: 60%;
  max-width: 440px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 0px 16px 24px 0px #00000026;
}

.modal .modal-content-header {
  padding: 24px;
  padding-bottom: 0;
}

.modal .modal-content-header .close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  &:active {
    background: #e7e7e771;
  }
}

.modal-content-header h3 {
  font-size: 18px;
  color: var(--link-text);
  line-height: 28px;
  font-weight: 600;
  margin: 0;
}

.modal-content-header span {
  font-size: 14px;
  color: var(--user-text);
  line-height: 20px;
  font-weight: 400;
}

.modal-content-body {
  padding: 24px;
}

.modal-content-body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--link-text);
}

.modal-content-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px;
  background: #f8fafc;
}
.modal-content-actions .close-modal-btn,
.modal-content-actions .delete-event,
.modal-content-actions .mark-read {
  border: 0;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  &:active {
    opacity: 0.9;
  }
}

.modal-content-actions .close-modal-btn {
  background: #fff;
  color: var(--link-text);
  border: 1px solid #e2e8f0;
}
.modal-content-actions .delete-event {
  margin-left: auto;
  background: var(--danger);
  color: #fff;
  border: 1px solid var(--danger);
}
.modal-content-actions .mark-read {
  background: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
}

/* Animation for modal appearance */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%); /* Start from bottom */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* End at normal position */
    opacity: 1;
  }
}


/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .modal .modal-content {
    width: 100%;
    max-width: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px 12px 0 0; 
    animation: slideUp 0.3s ease-in-out;

  }


  .modal-content-actions{
    flex-direction: column;
  }

  .modal-content-actions .close-modal-btn,
  .modal-content-actions .delete-event,
  .modal-content-actions .mark-read {
    width: 100%;
  }
}
