.sidebar {
  width: 240px;
  background: var(--background-light);
  transition: width 0.3s;
  height: 100dvh;
  padding: 8px;
  border-right: 1px solid var(--border-color);
  position: sticky;
  top: 0;
}

.sidebar.collapsed {
  width: 64px;

  .logo {
    justify-content: center;
  }

  .logo-text-wrap {
    width: 32px !important;

    .logo-text {
      display: none;
    }
  }

  .nav-link {
    justify-content: center;
  }

  .nav-link .nav-text {
    display: none;
  }

  .nav-link .badge {
    display: none !important;
  }

  .collapse-btn {
    justify-content: center;

    .collapse-text {
      display: none;
    }
  }

  .user-profile {
    justify-content: center;
  }

  .user-profile .user-details {
    display: none;
  }

  .theme-toggle {
    justify-content: center;

    .theme-text {
      display: none;
    }
  }
}

.sidebar .nav-list {
  margin-block: 16px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar .nav-list li .nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
  color: var(--link-text);
  font-size: 14px;
  border-radius: 2px;
}

.sidebar .nav-list li .nav-link:hover {
  background: #fcf7ff;
  color: var(--primary);
}

.sidebar .nav-list li .nav-link.active {
  background: #fcf7ff;
  color: var(--primary);
}

.sidebar .nav-list li .nav-link .badge {
  background: var(--danger);
  color: #fff;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 50%;
  margin-left: auto;
}

.sidebar .collapse-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar .collapse-btn:active {
  background: #fcf7ff;
}

.sidebar .theme-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--link-text);
  margin-block: 8px;
  padding-inline: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
}

.theme-toggle .toggle-on {
  color: var(--primary);
}

.sidebar .user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.sidebar .user-profile .avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

.sidebar .user-profile .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar .user-profile .user-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--link-text);
}

.sidebar .user-profile .user-details .user-email {
  color: var(--user-text);
}

.close-menu-btn {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -100%;
    width: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 12;
  }

  .sidebar.open {
    left: 0;
  }

  .close-menu-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: var(--color-dark-gray);
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    background: var(--background-light);
  }

  .sidebar .collapse-btn {
    display: none;
  }
}
